<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Datastax Cassandra Ruby Driver Documentation">
    <meta name="author" content="">

    <title>Datastax Cassandra Ruby Driver - Connection Heartbeat</title>

    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".toc" data-offset="0" ng-app="docs">
    <header class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../../">Cassandra Ruby Driver</a>
        </div>
        <div class="collapse navbar-collapse" ng-controller="search">
          <ul class="nav navbar-nav">
            <li><a href="../../../">Introduction</a></li>
            <li class="active"><a href="../../">Features</a></li>
            <li><a href="../../../api/">API docs</a></li>
          </ul>
          <form class="navbar-form form-search navbar-right dropdown" ng-class="{open: hasResults}" role="search" ng-submit="submit()">
            <div class="form-group has-feedback">
              <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search()" data-toggle="dropdown" data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              <button type="button" class="close form-control-feedback input-sm hidden" ng-click="reset()" ng-class="{hidden: !hasResults}"><span aria-hidden="true">×</span><span class="sr-only">Reset</span></button>
            </div>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="/ruby-driver{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
            </ul>
          </form>
        </div>
      </div>
    </header>

    <div class="container" id="content">
      <div class="row">
        <div class="col-md-9 content">
          <nav class="crumbs">
            <ol class="breadcrumb">
              
              
              
              <li><a href="../../../">Introduction</a></li>
              
              
              
              
              
              <li><a href="../../">Features</a></li>
              
              
              
              
              
              <li><a href="../">Error Handling</a></li>
              
              
              
              
              
              <li class="active">Connection Heartbeat</li>
              
              
              
            </ol>
          </nav>
          <div class="feature-section">
<h1 id="connection-heartbeat">Connection Heartbeat</h1>
<p>The Ruby driver sends periodic hearbeats to the Cassandra server to check if the connection is alive.
The heartbeat interval and the timeout is adjustable when creating a new <code>Cassandra::Cluster</code>. If a
heartbeat is not returned, the connection will be considered dead and is closed automatically.</p>
<h2 id="background">Background</h2>
<dl class="steps">
<dt>Given </dt>
<dd>a running cassandra cluster with schema:<pre class="highlight"><code class="cql"><span class="k">CREATE</span> <span class="k">KEYSPACE</span> <span class="n">simplex</span> <span class="k">WITH</span> <span class="n">replication</span> <span class="o">=</span> <span class="p">{</span><span class="s1">'class'</span><span class="p">:</span> <span class="s1">'SimpleStrategy'</span><span class="p">,</span> <span class="s1">'replication_factor'</span><span class="p">:</span> <span class="mi">3</span><span class="p">};</span></code></pre>
</dd>
<dt>And </dt>
<dd>a file named &#8220;printing_listener.rb&#8221; with:<pre class="highlight"><code class="ruby"><span class="k">class</span> <span class="nc">PrintingListener</span>
  <span class="k">def</span> <span class="nf">initialize</span><span class="p">(</span><span class="n">io</span><span class="p">)</span>
    <span class="vi">@out</span> <span class="o">=</span> <span class="n">io</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">host_found</span><span class="p">(</span><span class="n">host</span><span class="p">)</span>
    <span class="vi">@out</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"Host </span><span class="si">#{</span><span class="n">host</span><span class="p">.</span><span class="nf">ip</span><span class="si">}</span><span class="s2"> is found"</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">host_lost</span><span class="p">(</span><span class="n">host</span><span class="p">)</span>
    <span class="vi">@out</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"Host </span><span class="si">#{</span><span class="n">host</span><span class="p">.</span><span class="nf">ip</span><span class="si">}</span><span class="s2"> is lost"</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">host_up</span><span class="p">(</span><span class="n">host</span><span class="p">)</span>
    <span class="vi">@out</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"Host </span><span class="si">#{</span><span class="n">host</span><span class="p">.</span><span class="nf">ip</span><span class="si">}</span><span class="s2"> is up"</span><span class="p">)</span>
  <span class="k">end</span>

  <span class="k">def</span> <span class="nf">host_down</span><span class="p">(</span><span class="n">host</span><span class="p">)</span>
    <span class="vi">@out</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"Host </span><span class="si">#{</span><span class="n">host</span><span class="p">.</span><span class="nf">ip</span><span class="si">}</span><span class="s2"> is down"</span><span class="p">)</span>
  <span class="k">end</span>
<span class="k">end</span></code></pre>
</dd>
<dt>And </dt>
<dd>the following example:<pre class="highlight"><code class="ruby"><span class="nb">require</span> <span class="s1">'printing_listener'</span>
<span class="nb">require</span> <span class="s1">'cassandra'</span>

<span class="n">policy</span>  <span class="o">=</span> <span class="no">Cassandra</span><span class="o">::</span><span class="no">LoadBalancing</span><span class="o">::</span><span class="no">Policies</span><span class="o">::</span><span class="no">RoundRobin</span><span class="p">.</span><span class="nf">new</span>
<span class="n">policy</span>  <span class="o">=</span> <span class="no">Cassandra</span><span class="o">::</span><span class="no">LoadBalancing</span><span class="o">::</span><span class="no">Policies</span><span class="o">::</span><span class="no">WhiteList</span><span class="p">.</span><span class="nf">new</span><span class="p">([</span><span class="s1">'127.0.0.3'</span><span class="p">],</span> <span class="n">policy</span><span class="p">)</span>
<span class="n">cluster</span> <span class="o">=</span> <span class="no">Cassandra</span><span class="p">.</span><span class="nf">cluster</span><span class="p">(</span>
  <span class="ss">heartbeat_interval:    </span><span class="mi">2</span><span class="p">,</span>
  <span class="ss">idle_timeout:          </span><span class="mi">5</span><span class="p">,</span>
  <span class="ss">hosts:                 </span><span class="s1">'127.0.0.3'</span><span class="p">,</span>
  <span class="ss">load_balancing_policy: </span><span class="n">policy</span>
<span class="p">)</span>
<span class="n">session</span> <span class="o">=</span> <span class="n">cluster</span><span class="p">.</span><span class="nf">connect</span><span class="p">(</span><span class="s2">"simplex"</span><span class="p">)</span>

<span class="n">listener</span> <span class="o">=</span> <span class="no">PrintingListener</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="vg">$stderr</span><span class="p">)</span>
<span class="n">cluster</span><span class="p">.</span><span class="nf">register</span><span class="p">(</span><span class="n">listener</span><span class="p">)</span>

<span class="vg">$stdout</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"=== START ==="</span><span class="p">)</span>
<span class="vg">$stdout</span><span class="p">.</span><span class="nf">flush</span>
<span class="k">until</span> <span class="p">(</span><span class="n">input</span> <span class="o">=</span> <span class="vg">$stdin</span><span class="p">.</span><span class="nf">gets</span><span class="p">).</span><span class="nf">nil?</span> <span class="c1"># block until closed</span>
  <span class="n">query</span> <span class="o">=</span> <span class="n">input</span><span class="p">.</span><span class="nf">chomp</span>
  <span class="k">begin</span>
    <span class="n">results</span> <span class="o">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">execute</span><span class="p">(</span><span class="n">query</span><span class="p">)</span>
    <span class="nb">puts</span> <span class="n">results</span><span class="p">.</span><span class="nf">inspect</span>
    <span class="n">execution_info</span> <span class="o">=</span> <span class="n">results</span><span class="p">.</span><span class="nf">execution_info</span>
    <span class="vg">$stdout</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"Query </span><span class="si">#{</span><span class="n">query</span><span class="p">.</span><span class="nf">inspect</span><span class="si">}</span><span class="s2"> fulfilled by </span><span class="si">#{</span><span class="n">execution_info</span><span class="p">.</span><span class="nf">hosts</span><span class="si">}</span><span class="s2">"</span><span class="p">)</span>
  <span class="k">rescue</span> <span class="o">=&gt;</span> <span class="n">e</span>
    <span class="vg">$stdout</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"</span><span class="si">#{</span><span class="n">e</span><span class="p">.</span><span class="nf">class</span><span class="p">.</span><span class="nf">name</span><span class="si">}</span><span class="s2">: </span><span class="si">#{</span><span class="n">e</span><span class="p">.</span><span class="nf">message</span><span class="si">}</span><span class="s2">"</span><span class="p">)</span>
  <span class="k">end</span>
  <span class="vg">$stdout</span><span class="p">.</span><span class="nf">flush</span>
<span class="k">end</span>
<span class="vg">$stdout</span><span class="p">.</span><span class="nf">puts</span><span class="p">(</span><span class="s2">"=== STOP ==="</span><span class="p">)</span>
<span class="vg">$stdout</span><span class="p">.</span><span class="nf">flush</span></code></pre>
</dd>
<dt>And </dt>
<dd>it is running interactively</dd>
<dt>And </dt>
<dd>I wait for its output to contain &#8220;START&#8221;</dd>
<dt>And </dt>
<dd>node 3 is unreachable</dd>
</dl>
<h2 id="executing-a-query-when-a-host-is-unreachable">Executing a query when a host is unreachable</h2>
<dl class="steps">
<dt>When </dt>
<dd>I type &#8220;CREATE TABLE simplex.users (user_id BIGINT PRIMARY KEY, first VARCHAR, last VARCHAR, age BIGINT)&#8221;</dd>
<dt>And </dt>
<dd>I close the stdin stream</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Cassandra::Errors::NoHostsAvailable: All attempted hosts failed: 127.0.0.3 (Cassandra::Errors::IOError: Terminated due to inactivity)</code></pre>
</dd>
</dl>
<h2 id="receiving-notification-that-an-unreachable-host-is-down">Receiving notification that an unreachable host is down</h2>
<dl class="steps">
<dt>When </dt>
<dd>I wait for 5 seconds</dd>
<dt>And </dt>
<dd>I close the stdin stream</dd>
<dt>Then </dt>
<dd>its output should contain:<pre><code>Host 127.0.0.3 is down</code></pre>
</dd>
</dl>
</div>
        </div>
        <nav class="col-md-3 side-nav">
          <ol class="nav nav-pills nav-stacked toc" data-spy="affix" data-offset-top="60" data-offset-bottom="25">
            
            
            
            <li><a href="../../basics/">Basics</a></li>
            
            
            
            <li><a href="../../asynchronous_io/">Asynchronous Io</a></li>
            
            
            
            <li><a href="../../security/">Security</a></li>
            
            
            
            <li><a href="../../debugging/">Debugging</a></li>
            
            
            
            <li><a href="../../load_balancing/">Load Balancing</a></li>
            
            
            
            <li><a href="../../retry_policies/">Retry Policies</a></li>
            
            
            
            <li><a href="../../state_listeners/">State Listeners</a></li>
            
            
            
            <li><a href="../../reconnection/">Reconnection</a></li>
            
            
            
            <li class="active">
              <a href="../">Error Handling</a>
              <ul class="nav nav-pills nav-stacked">
                
                
                <li><a href="../request_execution/">Request Execution</a></li>
                
                
                
                <li class="active">
                  <a href="./">Connection Heartbeat</a>
                  <ul class="nav nav-pills nav-stacked">
<li><a href="#background">Background</a></li>
<li><a href="#executing-a-query-when-a-host-is-unreachable">Executing a query when a host is unreachable</a></li>
<li><a href="#receiving-notification-that-an-unreachable-host-is-down">Receiving notification that an unreachable host is down</a></li>
</ul>
                </li>
                
                
              </ul>
            </li>
            
            
            
            <li><a href="../../address_resolution/">Address Resolution</a></li>
            
            
            
          </ol>
        </nav>
      </div>
    </div>

    <footer class="container text-muted">
      <ul class="list-inline">
        <li>v1.0.0</li>
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/ruby-driver">Code</a>
        </li>
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/ruby-driver/">Docs</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/browse/RUBY">Issues</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/ruby-driver-user">Mailing List</a>
        </li>
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
        <li>·</li>
        <li>
          <a href="https://github.com/datastax/ruby-driver/releases">Releases</a>
        </li>
      </ul>
    </footer>
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/app.js"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54260831-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
